src/main/resources/wsdl/tms.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tms="http://www.tms.management.com/service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="tms"
	targetNamespace="http://www.tms.management.com/service" xmlns:tmtypes="http://www.tms.management.com/service/types">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.tms.management.com/service/types">
			<xsd:element name="RegistrationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="name" type="xsd:string" />
						<xsd:element name="age" type="xsd:int" />
						<xsd:element name="bloodGroup" type="xsd:string" />
						<xsd:element name="bikeModel" type="xsd:string" />
						<xsd:element name="dlNo" type="xsd:string" />
						<xsd:element ref="tmtypes:Address" minOccurs="1"
							maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="Address">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="street" type="xsd:string" />
						<xsd:element name="city" type="xsd:string" />
						<xsd:element name="dist" type="xsd:string" />
						<xsd:element name="state" type="xsd:string" />
						<xsd:element name="pinCode" type="xsd:long" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RegistrationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="name" type="xsd:string" />
						<xsd:element name="registrationId" type="xsd:string" />
						<xsd:element name="issueDate" type="xsd:dateTime" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- Fault Type -->

			<xsd:element name="TMSFaultType">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="errorCode" type="xsd:int" />
						<xsd:element name="errorMessage" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ETmsService_Registration">
		<wsdl:part element="tmtypes:RegistrationRequest" name="inputRequest" />
	</wsdl:message>
	<wsdl:message name="ETmsService_RegistrationResponse">
		<wsdl:part element="tmtypes:RegistrationResponse" name="RegistrationResponse" />
	</wsdl:message>

	<wsdl:message name="TMSException">
		<wsdl:part element="tmtypes:TMSFaultType" name="faultType" />
	</wsdl:message>

	<wsdl:portType name="ETmsService">
		<wsdl:operation name="register">
			<wsdl:input message="tms:ETmsService_Registration" />
			<wsdl:output message="tms:ETmsService_RegistrationResponse" />
			<wsdl:fault message="tms:TMSException" name="TMSException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ETmsServiceSOAPBinding" type="tms:ETmsService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="register">
			<soap:operation soapAction="http://www.tms.management.com/service/register" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="TMSException">
				<soap:fault name="TMSException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TMSService">
		<wsdl:port binding="tms:ETmsServiceSOAPBinding" name="ETmsSOAPPort">
			<soap:address location="http://localhost:9999/TMS/soap/ws/TMSService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
